# Importing and splitting data

In [1]:
import pandas as pd
df = pd.read_csv('smoking_driking_dataset_Ver01.csv')
df.shape

(991346, 24)

In [5]:
import numpy as np
from sklearn.model_selection import train_test_split
train_1, test_1 = train_test_split(df, test_size=0.1, random_state=42)

In [6]:
train_1.shape

(892211, 24)

In [7]:
test_1.shape

(99135, 24)

In [8]:
test_1.to_csv('Splitted_data.csv')

In [9]:
sd = pd.read_csv('Splitted_data.csv')
sd.head()

,Unnamed: 0,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,676014,Female,45,160,60,85.0,1.2,1.0,1.0,1.0,...,100.0,64.0,13.3,1.0,0.8,16.0,13.0,14.0,1.0,N
1,958905,Male,30,175,70,87.0,0.9,0.9,1.0,1.0,...,147.0,127.0,15.9,2.0,1.2,24.0,28.0,16.0,1.0,N
2,472540,Male,35,180,85,93.0,1.2,1.5,1.0,1.0,...,119.0,204.0,16.6,1.0,1.0,34.0,61.0,25.0,2.0,N
3,244194,Male,35,175,80,89.0,1.5,1.5,1.0,1.0,...,130.0,50.0,15.2,1.0,0.9,18.0,17.0,17.0,1.0,Y
4,88447,Female,40,160,70,97.0,1.5,1.0,1.0,1.0,...,91.0,81.0,12.8,1.0,0.5,15.0,17.0,14.0,1.0,N

In [11]:
sd = sd.drop('Unnamed: 0', axis=1)
sd.head()

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,Female,45,160,60,85.0,1.2,1.0,1.0,1.0,113.0,...,100.0,64.0,13.3,1.0,0.8,16.0,13.0,14.0,1.0,N
1,Male,30,175,70,87.0,0.9,0.9,1.0,1.0,135.0,...,147.0,127.0,15.9,2.0,1.2,24.0,28.0,16.0,1.0,N
2,Male,35,180,85,93.0,1.2,1.5,1.0,1.0,129.0,...,119.0,204.0,16.6,1.0,1.0,34.0,61.0,25.0,2.0,N
3,Male,35,175,80,89.0,1.5,1.5,1.0,1.0,119.0,...,130.0,50.0,15.2,1.0,0.9,18.0,17.0,17.0,1.0,Y
4,Female,40,160,70,97.0,1.5,1.0,1.0,1.0,124.0,...,91.0,81.0,12.8,1.0,0.5,15.0,17.0,14.0,1.0,N

# 2 Performing KKN & Decision Tree Classifier.

In [12]:
sd.isnull().sum()

sex                 0
age                 0
height              0
weight              0
waistline           0
sight_left          0
sight_right         0
hear_left           0
hear_right          0
SBP                 0
DBP                 0
BLDS                0
tot_chole           0
HDL_chole           0
LDL_chole           0
triglyceride        0
hemoglobin          0
urine_protein       0
serum_creatinine    0
SGOT_AST            0
SGOT_ALT            0
gamma_GTP           0
SMK_stat_type_cd    0
DRK_YN              0
dtype: int64

In [13]:
#using labelEncoder for Encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [14]:
from pandas.core.dtypes.common import is_numeric_dtype
for col in sd.columns:
    if is_numeric_dtype(sd[col]):
        continue
    else:
        sd[col] = le.fit_transform(sd[col])

In [16]:
x = sd.drop('DRK_YN', axis=1)
y = sd['DRK_YN']
x.head()

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,HDL_chole,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd
0,0,45,160,60,85.0,1.2,1.0,1.0,1.0,113.0,...,82.0,100.0,64.0,13.3,1.0,0.8,16.0,13.0,14.0,1.0
1,1,30,175,70,87.0,0.9,0.9,1.0,1.0,135.0,...,50.0,147.0,127.0,15.9,2.0,1.2,24.0,28.0,16.0,1.0
2,1,35,180,85,93.0,1.2,1.5,1.0,1.0,129.0,...,46.0,119.0,204.0,16.6,1.0,1.0,34.0,61.0,25.0,2.0
3,1,35,175,80,89.0,1.5,1.5,1.0,1.0,119.0,...,62.0,130.0,50.0,15.2,1.0,0.9,18.0,17.0,17.0,1.0
4,0,40,160,70,97.0,1.5,1.0,1.0,1.0,124.0,...,58.0,91.0,81.0,12.8,1.0,0.5,15.0,17.0,14.0,1.0

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
x_train.head()

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,HDL_chole,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd
36406,0,55,145,60,82.0,0.4,0.4,1.0,1.0,120.0,...,42.0,82.0,196.0,13.7,1.0,1.0,35.0,41.0,35.0,1.0
90689,1,40,170,75,98.0,1.5,1.5,1.0,1.0,119.0,...,72.0,142.0,74.0,14.3,1.0,0.7,20.0,25.0,53.0,2.0
38670,1,40,170,70,83.0,1.0,1.2,1.0,1.0,118.0,...,47.0,128.0,78.0,14.5,1.0,1.2,20.0,17.0,21.0,2.0
7716,0,45,160,80,94.0,1.2,1.2,1.0,1.0,113.0,...,52.0,89.0,54.0,12.8,1.0,0.7,19.0,14.0,17.0,1.0
87005,1,65,170,65,87.5,0.3,0.4,2.0,1.0,174.0,...,90.0,127.0,128.0,16.0,1.0,1.2,25.0,17.0,65.0,2.0

In [18]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, classification_report

# Train and evaluate k-NN Classifier with k = 2
knn_classifier = KNeighborsClassifier(n_neighbors=2)
knn_classifier.fit(x_train, y_train)
y_pred_knn = knn_classifier.predict(x_test)

conf_matrix_knn = confusion_matrix(y_test, y_pred_knn)
accuracy_knn = accuracy_score(y_test, y_pred_knn)
precision_knn = precision_score(y_test, y_pred_knn, average='weighted')
recall_knn = recall_score(y_test, y_pred_knn, average='weighted')
f1_knn = f1_score(y_test, y_pred_knn, average='weighted')

print("Confusion Matrix (k-NN):\n", conf_matrix_knn)
print("Accuracy (k-NN):", accuracy_knn)
print("Precision (k-NN):", precision_knn)
print("Recall (k-NN):", recall_knn)
print("F1 Score (k-NN):", f1_knn)
print("Classification Report (k-NN):\n", classification_report(y_test, y_pred_knn))

# Train and evaluate Decision Tree Classifier
dt_classifier = DecisionTreeClassifier(random_state=42)
dt_classifier.fit(x_train, y_train)
y_pred_dt = dt_classifier.predict(x_test)

conf_matrix_dt = confusion_matrix(y_test, y_pred_dt)
accuracy_dt = accuracy_score(y_test, y_pred_dt)
precision_dt = precision_score(y_test, y_pred_dt, average='weighted')
recall_dt = recall_score(y_test, y_pred_dt, average='weighted')
f1_dt = f1_score(y_test, y_pred_dt, average='weighted')

print("Confusion Matrix (Decision Tree):\n", conf_matrix_dt)
print("Accuracy (Decision Tree):", accuracy_dt)
print("Precision (Decision Tree):", precision_dt)
print("Recall (Decision Tree):", recall_dt)
print("F1 Score (Decision Tree):", f1_dt)
print("Classification Report (Decision Tree):\n", classification_report(y_test, y_pred_dt))

Confusion Matrix (k-NN):
 [[8089 1958]
 [5569 4211]]
Accuracy (k-NN): 0.6203661673475563
Precision (k-NN): 0.6368217343968341
Recall (k-NN): 0.6203661673475563
F1 Score (k-NN): 0.6063048249061442
Classification Report (k-NN):
               precision    recall  f1-score   support

           0       0.59      0.81      0.68     10047
           1       0.68      0.43      0.53      9780

    accuracy                           0.62     19827
   macro avg       0.64      0.62      0.61     19827
weighted avg       0.64      0.62      0.61     19827

Confusion Matrix (Decision Tree):
 [[6520 3527]
 [3473 6307]]
Accuracy (Decision Tree): 0.6469460836233419
Precision (Decision Tree): 0.6469763433699705
Recall (Decision Tree): 0.6469460836233419
F1 Score (Decision Tree): 0.6469564148171442
Classification Report (Decision Tree):
               precision    recall  f1-score   support

           0       0.65      0.65      0.65     10047
           1       0.64      0.64      0.64      9780

    accuracy                           0.65     19827
   macro avg       0.65      0.65      0.65     19827
weighted avg       0.65      0.65      0.65     19827